.password-edit-container>button>div>span{
    text-transform: none !important;
    color: #007bff;
}
.password-edit-container{
    position: relative;
}

.btn-link{
    font-size: 14px !important;
    margin-top: 8px
}
.password-edit-container div{
    margin-bottom: 12px;
}
.dialog-content{
    border-top: none !important;
    border-bottom: none !important;
}
.form-container{
    position: relative;
    top: 12px;

}
