.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid rgb(243, 156, 18);
}
.nav-tabs {
    border: none;
}
.nav-tabs>li>a{
    font-size: 13px;
    color: #555;
}
.nav-tabs>li>a:hover{
    background-color: transparent;
    border: none;
}
